<h1>Listing maps</h1>

<div class="actions">
    <%= link_to 'Create a Map', new_map_path, :class => "btn btn-success" %>
</div>

<table class="table table-striped">
  <tr>
    <th>Score</th>
    <th>Name</th>
    <th>Author</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% unless @my_maps.nil? %>
    <% @my_maps.each do |map| %>
        <%= render :partial => "map_line", :locals => { :map => map } %>
    <% end %>
<% end %>

<% @maps.each do |map| %>
    <%= render :partial => "map_line", :locals => { :map => map } %>
<% end %>

</table>

<%= will_paginate @maps %>

<br />

