<article>
<h1>Heya folks!</h1>

<h2>What is Fish Tank Commander?</h2>
<p>FTC is a game that was created in only <em>48 hours</em> as part of
a competition called <a href="http://ludumdare.com">Ludum Dare</a>. In this
game, you fight for control of your fish tank by commanding your army of
mighty fish (and amphibians!)</p>

<p>FTP is a turn-based multiplayer game. You move your units, then end your turn and your opponent will have a chance to do the same.</p>

<p>TODO: Notifications?</p>


<h2>How do I play?</h2>
<ol>
	<li><%= link_to "Create an account!", new_user_registration_path %></li>
	<li><%= link_to "Challenge someone", new_game_path %> to a game!</li>
	<li>Create some units, like a Goldfish or a Turtle or the mighty
		Japanese Fighting Fish: The Betta!</li>
	<li>New units can't move or attack on the turn they are created, but on your
		next turn you can select and move your units around. Move onto an enemy
		to execute a devastating attack!</li>
	<li>Click the <em>help button</em> in game for more instructions.</li>
</ol>

</article>

