<article>

<h1>Heya folks!</h1>
<div class="video">
<iframe width="560" height="315" src="http://www.youtube.com/embed/35DJr3QzIg0?rel=0" frameborder="0" allowfullscreen></iframe>
</div>

<h2>What is Fish Tank Commander?</h2>
<p>FTC is a game that was created in only <em>48 hours</em> as part of
a competition called <a href="http://ludumdare.com">Ludum Dare</a>. In this
game, you fight for control of your fish tank by commanding your army of
mighty fish (and amphibians!)</p>

<p>FTC is a turn-based multiplayer game. You move your units, then end your turn and your opponent will have a chance to do the same.</p>

<p>Whenever it's your turn in a game, you'll get a notification via a little mail icon in the toolbar (this updates
	automatically without needing to refresh the page!)	If you don't respond within a certain time, you will be emailed with a copy of the notification.  This behaviour can be tweaked and disabled in your account settings.</p>


<h2>How do I play?</h2>
<ol>
	<li><%= link_to "Create an account!", new_user_registration_path %></li>
	<li><%= link_to "Challenge someone", new_game_path %> to a game!</li>
	<li>Create some units, like a Goldfish or a Turtle or the mighty
		Japanese Fighting Fish: The Betta!</li>
	<li>New units can't move or attack on the turn they are created, but on your
		next turn you can select and move your units around. Move onto an enemy
		to execute a devastating attack!</li>
	<li>Mouse-over the map and units to find out their traits.</li>
</ol>

<h2>System Requirements</h2>

<p>Any up-to-date web browser should be all you need, though Fish Tank Commander was primarily tested using Google Chrome.</p>

</article>

