<div class="game_tools">
  <% if @player.team_id == @game.current_team_id %>
  <h2>Move Units</h2>
  <div class="tool-button" data-tool_tag="pointer"></div>
  <br class="clear">
  <h2>Build Units</h2>
  <% for unit in Unit.all %>
    <div class="unit-button" data-unit_tag="<%=unit.tag %>"></div>
  <% end %>
  <br class="clear">
  <br class="clear">
	  <div class="actions">
    <%= button_to "End Turn", end_turn_game_path(@game), :class => "btn btn-success" %>

    <% if @game.turn_counter <= 1 %>
      <%= button_to "Cancel Game", surrender_game_path(@game), :class => "btn btn-danger", :confirm => "Cancel this game?" %>
    <% else %>
      <%= button_to "Surrender", surrender_game_path(@game), :class => "btn btn-danger", :confirm => "Give up?!?" %>
    <% end %>
  </div>
  <% end %>
</div>