<p id="notice"><%= notice %></p>

<h1>Game goes here. That should be the easy part right?</h1>

<h1>AFK: BREAKFAST!!!</h1>

<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
