form {
  margin: 10px;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #333;
  border-radius: 5px;
  -moz-box-shadow: 3px 3px 4px #666;
  -webkit-box-shadow: 3px 3px 4px #666;
  box-shadow: 3px 3px 4px #666;

  &.button_to {
    width: auto;
    margin: none;
    border: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
  }


  h2 {
    background-color: #333;
    color: white;
    margin-bottom: 6px;
    padding-left: 6px;
  }

  p {
    padding-left: 6px;  
  }

  div {
    label {
      float: left;
      width: 120px;
      padding-left: 6px;
    }

    input, select, textarea {
      width: 400px;
    }

    textarea {
      height: 100px;
    }

    p {
      margin-left: 126px;
      margin-top: -9px;
      font-size: .8em;
    }

    &.field, &.actions {
      margin-top: 10px; 
      padding: 6px;
    } 

  }


  .field_with_errors {
    padding: 2px;
    background-color: red;
    display: table; 
  }

  #error_explanation {
    width: 450px;
    border: 2px solid red;
    padding: 7px;
    padding-bottom: 0;
    margin-bottom: 20px;
    background-color: #f0f0f0;
    h2 {
      text-align: left;
      font-weight: bold;
      padding: 5px 5px 5px 15px;
      font-size: 12px;
      margin: -7px;
      margin-bottom: 0px;
      background-color: #c00;
      color: #fff; 
    }
    
    ul li {
      font-size: 12px;
      list-style: square;
    } 
  }

}