

@mixin tile-sheet {
	background-image: url("tile_sheet.png");

	&[data-tile_type_tag="open-water"] {
		background-position: 0px -32px;
	}

	&[data-tile_type_tag="bubbles"] {
		background-position: -32px -32px;
	}

	&[data-tile_type_tag="weeds"] {
		background-position: -64px -32px;
	}

	&[data-tile_type_tag="logs"] {
		background-position: -96px -32px;
	}

	&[data-tile_type_tag="castle0"] {
		background-position: -128px -32px;
	}

	&[data-tile_type_tag="castle1"] {
		background-position: -160px -32px;
	}

	&[data-tile_type_tag="neutral_castle"] {
		background-position: -192px -32px;
	}

	&[data-tile-variant="1"] {
		background-position-y: -64px;
	}
	&[data-tile-variant="2"] {
		background-position-y: -96px;
	}
}


table.map {
	background-image: url("game-background.jpg");
	border-collapse: collapse;
	td.tile {
		height: 32px;
		width: 32px;
		//border: 1px solid black;
		padding: 0px;

		@include tile-sheet;
	}
}

div.tile-buttons {
	background-image: url("game-background.jpg");	
	overflow: hidden;
	float: left;
}

div.tile-button {
	float: left;
	height: 32px;
	width: 32px;

	border: 4px solid black;

	&.active {
		border-color: green;
	}

	@include tile-sheet;

}