body, html {
	margin: 0px;
	padding: 0px;
}

* {
	margin: 0px;
	padding: 0px;
}

a, a:visited, a:hover {
	background-color: inherit;
	text-decoration: underline;
}
a:hover {
	color: #ccc;
}


header {
	background-color: #555;
	border-style: solid;
	border-color: #333;
	border-width: 0px 0px 1px 0px;

	color: white;

	h1 {
		font-family: 'Bitter', serif;
		font-size: 48px;
		line-height: 48px;
		text-align: center;
		background-color: #333;
		padding-top: 20px;

		a, a:visited {
			color: white;
		}
	}

	h2 {
		font-family: 'Bitter', serif;
		font-size: 24px;
		line-height: 24px;
		text-align: center;
		background-color: #333;
		border-style: solid;
		border-color: #111;
		border-width: 0px 0px 1px 0px;
		padding-top: 10px;
		padding-bottom: 20px;
		a, a:visited {
			color: white;
		}

	}

	nav {
		overflow: hidden;
		h3 {
			float: left;
			padding: 4px;
			font-size: 16px;
			line-height: 16px;
		}
		ul {
			float: right;
			list-style-type: none;
			margin: 0px;
			li {
				float: right;
				a, a:visited, a:hover {
					color: white;
					background-color: inherit;
					text-decoration: none;
					line-height: 24px;
					padding: 8px 10px;
					border-style: solid;
					border-color: black;
					border-width: 0px 0px 0px 1px;
				}
				a:hover {
					color: #ccc;
					background-color: #777;
				}
			}
		}
	}
}

body.welcome {
	header {
		/* Big header on front page */
		h1 {
			font-family: 'Bitter', serif;
			font-size: 64px;
			line-height: 64px;
			text-align: center;
			background-color: #333;
			padding-top: 40px;
		}

		h2 {
			font-family: 'Bitter', serif;
			font-size: 32px;
			line-height: 32px;
			text-align: center;
			background-color: #333;
			border-style: solid;
			border-color: #111;
			border-width: 0px 0px 1px 0px;
			padding-top: 20px;
			padding-bottom: 60px;

		}	
	}
}

table.game-list {
	td.your-turn {
		color: red;
	}
}

div.highlight {
	background-color: #339BB9;
	background-repeat: repeat-x;
	background-image: -khtml-gradient(linear, left top, left bottom, from(#5BC0DE), to(#339BB9));
	background-image: -moz-linear-gradient(top, #5BC0DE, #339BB9);
	background-image: -ms-linear-gradient(top, #5BC0DE, #339BB9);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #5BC0DE), color-stop(100%, #339BB9));
	background-image: -webkit-linear-gradient(top, #5BC0DE, #339BB9);
	background-image: -o-linear-gradient(top, #5BC0DE, #339BB9);
	background-image: linear-gradient(top, #5BC0DE, #339BB9);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5bc0de', endColorstr='#339bb9', GradientType=0);
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	border-color: #339BB9 #339BB9 #22697D;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	-webkit-transition: 0.1s linear all;
	-moz-transition: 0.1s linear all;
	-ms-transition: 0.1s linear all;
	-o-transition: 0.1s linear all;
	transition: 0.1s linear all;
	color: white;
}

article {
	background-color: #66a;
	border-color: #006;
	border-style: solid;
	border-width: 5px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;

	margin: 10px 50px;

	color: white;


	h1 {
		background-color: #006;
		font-family: 'Bitter', serif;
		padding-top: 10px;
		padding-bottom: 20px;
		font-size: 36px;
	}

	h2 {
		font-family: 'Bitter', serif;
		border-style: solid;
		border-color: black;
		border-width: 0px 0px 1px 0px;
		padding: 0px 10px;

	}

	p {
		padding: 0px 50px;
	}

	ol {
		padding: 0px 50px;
		li {
			margin-top: 10px;
		}
	}

	a, a:visited {
		color: white;
		font-width: bold;
	}	
}

footer {
	text-align: center;
	margin: 50px;
	font-size: 10px;
}