

@mixin unit-sheet {
	background-image: url("tool_sheet.png");

	&[data-tool_tag="pointer"] {
		background-position: 0px 0px;
	}
	&[data-tool_tag="vote-up"] {
		background-position: -32px 0px;
	}
	&[data-tool_tag="vote-down"] {
		background-position: -64px 0px;
	}
	&[data-tool_tag="vote-up-faded"] {
		background-position: -96px 0px;
	}
	&[data-tool_tag="vote-down-faded"] {
		background-position: -128px 0px;
	}
}

div.tool-button {
	height: 32px;
	width: 32px;

	@include unit-sheet;

}

div.game_tools {
	div.tool-button {
		float: left;
		border: 4px solid black;
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;

		margin-right: 4px;
		&.active {
			border-color: green;
		}
	}
}
