

@mixin unit-sheet {
	background-image: url("unit_sheet.png");

	&[data-unit_tag="goldfish"] {
		background-position: 0px 0px;
	}

	&[data-unit_tag="seahorse"] {
		background-position: -32px 0px;
	}

	&[data-unit_tag="turtle"] {
		background-position: -64px 0px;
	}

	&[data-unit_tag="betta"] {
		background-position: -96px 0px;
	}
}


table.map {
	border-collapse: collapse;
	div.unit {
		position: relative;
		height: 32px;
		width: 32px;
		//border: 1px solid black;
		margin: 0px;
		padding: 0px;

		@include unit-sheet;

		&.active {
			background-color: green;
		}

		div.healthbar {
			background-color: green;
			height: 4px;
			width: 100%;
			position: absolute;
			bottom: 0px;
			/*font-size: 10px;
			font-weight: bold;
			overflow: hidden;*/


			&.low {
				background-color: yellow;
			}

			&.critical {
				background-color: red;
			}
		}

		div.shield {
			height: 32px;
			width: 32px;
			background-image: url("unit_sheet.png");
			background-position: 0px -352px;
			span.movement {
				position: absolute;
				top: 12px;
				left: 4px;
				font-size: 10px;
				color: white;
				-moz-user-select: -moz-none;
				-khtml-user-select: none;
				-webkit-user-select: none;
				-ms-user-select: none;
				user-select: none;
			}
		}
	}

	div.unit[data-team_id="1"] {
		div.shield {
			background-position: -32px -352px;
		}
	}
}

div.unit-button {
	float: left;
	height: 32px;
	width: 32px;

	border: 4px solid black;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;

	margin-right: 4px;

	&.active {
		border-color: green;
	}

	@include unit-sheet;


}