				<a href="<%= url_for notifications_path %>">
				<% if current_user.notifications.unread.length > 0 %>
					<i class="icon-envelope icon-white"></i> (<%= current_user.notifications.unread.length %>)
				<% else %>
					<i class="icon-envelope"></i>
				<% end %>
				</a>
